<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Passport Implementation</title>
</head>
<body>
  <h3>Registration form</h3>
<form action="/register" method="POST">
  <input type="text" placeholder="username" name="username">
   <input type="text" placeholder="password" name="password">
  <input type="text" name="name" placeholder="name" >
  <input type="submit" value="register user">
  </form>

  <hr><hr>
  <h3>Login form</h3>
  <form action="/login" method="post">
    <input type="text" name="username" placeholder="username">
  <input type="password" name="password" placeholder="password">
  <input type="submit">
</form>

</body>
</html>